
body{
  background: rgb(235, 235, 235);
}

.main-header{
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 2;
  background: transparent;
}

.header-content{
  position: relative;
  display: flex;
  max-width: 1080px;
  height: 100%;
  padding: 5px 20px 5px 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.headersearch-container{
  display: flex;
  align-items: center;
  max-width: 250px;
  height: 35px;
  background-color: rgb(80, 80, 80);
}

.header-search{
  width: 100%;
  height: 100%;
  padding-top: 3px;
  color:rgb(255, 255, 255);
  font-size: 18px;
  cursor: text;
  text-align: center;
}

.header-search::placeholder{
  color:rgb(230, 230, 230);
}

.header-search:focus::placeholder{
  color: transparent;
}

.header-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  flex: 0 1 40%;
}

.link-container{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 75%;
  flex: 1 1 33%;
  border-radius: 15px;
  letter-spacing: 2px;
  padding: 0px 10px;
  text-align: center;
}

.link-container:hover #link{
  color:rgb(160, 160, 160);
}

#link {
  transition: all 500ms ease;
  color: rgb(255, 255, 255);
  width: 100%;
}

.hamburger-container{
  display: none;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  background: rgba(0,0,0,.20);
  border-radius: 50%;
}

.hamburger-container:hover{
  background: rgba(0,0,0,.3);
}

#hamburger{
  width: 20px;
  height: 20px;
}

.search-btn{
  width: 60px;
  height: 35px;
  background: rgb(37, 37, 37);
  border: 1px solid rgb(80, 80, 80);
}

.search-btn:hover{
  background: rgb(45, 45, 45);
}

#search-icon{
  width: 23px;
  height: 23px;
  fill: white;
}

.home-logo-container{
  display: flex;
  flex: 1 1 50%;
}

.home-logo{
  color: rgb(255, 255, 255);
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  display: flex;
  color: rgb(255, 255, 255);
  flex: 1 1 500px;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.nav-links{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.link{
  color: white;
}

.subheader{
  width: 100%;
  height: 50px;
  padding: 0px 5px;
  background: rgb(80, 80, 80);
}

.subheader-content{
  display: flex;
  max-width: 820px;
  height: 100%;
  margin: 0 auto;
}

.subheader-navlist{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.subheader-navlist button{
  width: 200px;
  height: 100%;  
  letter-spacing: 1px;
  transition: all 200ms ease;
  color: white;
}

.subheader-navlist button:hover{
  box-shadow: 0 2px 0 #ffffff;
}

.subheader-navlist button:focus{
  box-shadow: 0 2px 0 #ffffff;
}

.main{
  width: 100%;
  height: 130vh;
	background: rgba(79, 41, 245, 1.0);
	background: linear-gradient(to bottom, rgba(79, 41, 245, 1.0), rgba(123, 185, 236, 1.0));
  background-attachment: fixed;
  background-position: cover;
}

.main-container{
  width: 100%;
  padding: 10px 5px 10px 5px;
}

.weather-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 780px;
  padding: 10px 5px 10px 5px;
  margin: 10px auto;
  background:rgb(255, 255, 255);
  border-radius: 5px;
}

.search-container{
  width: 400px;
  height: 60px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.5);
}

.search-city{
  width: 100%;
  height: 100%;
  padding: 20px 0px 0px 5px;
  color:rgb(36, 36, 36);
  font-size: 30px;
  cursor: text;
}

.current-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 300px;
}

.conditions-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
}

.conditions-container h1,p{
  padding: 5px 0px;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.current-dropdown-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

.current-dropdown:hover #downarrow{
  animation: bob 1.25s ease infinite;
}

.current-dropdown{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 150px;
}

.forecastbtn-container{
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 50px;
  padding-top: 10px;
}

.dailyfc{
  width: 50%;
  height: 100%;
  color: rgb(36, 36, 36);
  font-weight: bold;
}

.hourly-container{
  display: flex;
  flex-direction: row;
  max-width: 780px;
  margin: 20px auto;
  align-items: center;
  justify-content: space-evenly;
}

.hourly-container :last-child{
  border-right: none;
}

.hourlycard-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 19%;
  height: 200px;
  padding: 0px 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}
 
.forecast-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 780px;
  margin: 0 auto;
  margin-top: 20px;
  background:rgb(255, 255, 255);
  border-radius: 5px;
}

.forecast-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  padding: 0 10px;
  background:rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.fc-temp-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 100%;
}

.fc-day-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 150px;
  height: 50px;
}

.fc-con-container{
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  height: 25px;
}

.fc-precip{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 100px;
  height: 50px;
}

.fc-windy{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 50px;
}

.rotated {
  transform: rotate(45deg);
}

#city{
  letter-spacing: 2px;
  font-size: 40px;
}

#date{
  font-size: 20px;
}

#temperature{
  font-size: 40px;
}

#condition{
  font-size: 20px;
}

#current-droptext{
  padding-right: 5px;
  margin-bottom: 2.5px;
}

#weekday{
  font-weight: bold;
  padding-right: 10px;
  color: rgba(42, 42, 42, 0.9);
}

#fc-condition{
  padding-left: 15px;
}

#high{
  font-weight: bold;
  font-size: 25px;
  color: rgb(24, 24, 24);
}

#low{
  font-size: 25px;
  color: rgba(42, 42, 42, 0.8);
}


#divider{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

#precipitation{
  padding-left: 5px;
}

#wind{
  padding-left: 5px;
}

#hour-time{
  padding: 5px 0px;
  font-weight: bold;
}

#hour-pop{
  padding-bottom: 10px;
}

#hour-temp{
  font-weight: bold;
  font-size: 20px;
}


/*      Keyframes section for css animations      */


@keyframes bob{
  0%, 100%{
    transform: translateY(5%);
  }
  50%{
    transform: translateY(-5%);
  }
}

/*      Classes used for resizing     */


@media screen and (max-width: 700px){

  .header-links{
    display: none;
  }

  .hamburger-container{
    display: flex;

  }

  #fc-condition, .fc-precip{
    display: none;
  }
  .fc-con-container{
    justify-content: center;
  }

  .link-container{
    font-size: 2.5vw;
  }
}