.card-font{
    font-family: 'Open Sans', sans-serif;
}

.home-container{
    width: 100%;
    background: rgb(255, 255, 255);
}

.home-header-container{
    width: 100%;
    height: 75px;
    position: absolute;
    z-index: 2;
    background: transparent;
}

.home-header-content{
    position: relative;
    display: flex;
    max-width: 1080px;
    height: 100%;
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

.header-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    flex: 0 1 40%;
}
  
.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 75%;
    flex: 1 1 33%;
    border-radius: 15px;
    letter-spacing: 2px;
    padding: 0px 10px;
    text-align: center;
}


#link {
    transition: all 500ms ease;
    color: rgb(255, 255, 255);
    width: 100%;
  }
  
.hamburger-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background: rgba(0,0,0,.20);
    border-radius: 50%;
}
  
.hamburger-container:hover{
    background: rgba(0,0,0,.3);
}
  
#hamburger{
    width: 20px;
    height: 20px;
}

.home-hero{
    width: 100%;
    height: 600px;
    display: block;
    background-image: url("../weather-backgrounds/city-clouds.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.white-blur{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
}

.dark-blur{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .55), rgba(39, 39, 39, .10));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .55), rgba(39, 39, 39, .10));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .55), rgba(39, 39, 39, .05));
    backdrop-filter: blur( .25px );
    -webkit-backdrop-filter: blur( .25px );
}

.hero-content-container{
    display: flex;
    flex: 0 1 960px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hero-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 480px;
}

.hero-text-container{
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 480px;    
}

.hero-text-content{
    border-left: 5px solid white;
    padding: 0px 20px;
}

/*.scale:hover{
    z-index: 1;
    filter: blur(0);
    -webkit-transform: scale(1.05) translate3d( 0, 0, 0) perspective(1px);
    -moz-transform: scale(1.05) translate3d( 0, 0, 0) perspective(1px);
    -o-transform: scale(1.05) translate3d( 0, 0, 0) perspective(1px);
    -ms-transform: scale(1.05) translate3d( 0, 0, 0) perspective(1px);
    transform: scale(1.05) translate3d( 0, 0, 0) perspective(1px);
}*/

.home-content{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.home-button-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

#button-header{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
    min-width: 150px;
    font-size: 30px;
    color: rgb(24, 24, 24);
}

#line-container{
    display: block;
    height: 1px;
    min-width: 200px;
    background: rgba(42, 42, 42, .10);
}

#header-line{
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 4px;
    border-bottom: 3px solid rgb(0,0,0);
    border-radius: 15%;
}

.home-buttons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.home-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    flex: 1 1 30%;  
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 10px; 
    margin-left: 10px;
    margin-right: 10px; 
    background: rgba(255, 255, 255, 1);
    padding: 20px 10px;
}

.home-icon-container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 15%);
    border-radius: 50%;
}

.home-button-icon{
    width: 50px;
    height: 50px;
}

.info-container{
    width: 100%;
    height: 80%;
    padding: 20px 0px;
}

#info-header{
    text-align: center;
    padding: 5px 0px 10px 0px;
}

.button-info{
    text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,.9);
}

.button-description{
    color: rgba(0,0,0,.5);
    text-align: center;
    font-size: 16px;

}

.home-news-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;

}

.news-card{
    display: flex;
    flex-direction: row;
    flex: 1 1 35%;
    margin: 5px 10px 20px 10px;
    background: rgb(255, 255, 255);
    overflow-y: hidden;
    position: relative;
}

.news-img-container{
    max-width: 300px;
    max-height: 250px;
    overflow: hidden;
}

.news-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.news-title-container{
    display: flex;
    align-items: center;

}

.news-readmore{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding: 0px 20px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 5%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 100%
    );
}

#news-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#news-title{
    font-weight: 600;
    color: rgb(43, 43, 43);
}

#news-description{
    padding: 5px 10px;
}

#news-date{
    color: rgba(0,0,0,.65);
}

#readmore-text{
    color: white;
    z-index: 1;
}

#readmore-text::before{
    content: "";
    position: absolute;
    bottom: 5;
    right: 0;
    width: 125px;
    height: 25px;
    z-index: -1;
    background: rgb(41, 41, 41);
    border-radius: 10px 0px 0px 10px;
}

@media screen and (max-width: 700px) {
    .home-buttons-container{
        flex-direction: column;
    }
}